eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

resilience4j:
  circuitbreaker:
    instances:
      workloadService:
        register-health-indicator: true
        sliding-window-type: COUNT_BASED
        sliding-window-size: 20
        permitted-number-of-calls-in-half-open-state: 3
        minimum-number-of-calls: 5
        wait-duration-in-open-state: 30s
        failure-rate-threshold: 50
        slow-call-rate-threshold: 50
        slow-call-duration-threshold: 4s

spring:
  application:
    name: crm
  cloud:
    loadbalancer:
      retry:
        enabled: true
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin

